body {
  background-color: rgb(243, 201, 224);
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  padding: 10px;
}
p {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 20px;
  margin: 50px;
}

button {
  display: inline;
  margin-bottom: 10px;
  border: 2px solid rgb(49, 173, 49);
  border-radius: 5px;
  background-color: rgb(219, 248, 178);
  padding: 10px;
}
.buttons-block {
  margin-left: 50px;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
